#myp {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

#link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

#link:hover {
    text-decoration: underline;
}

#link:active {
    text-decoration-color: crimson;
}

#link-bttn {
    width: 80px;
    margin: 0;
    padding: 2px;
    border: none;
}

#link-bttn:hover {
    background-color: white;
}

#link-bttn:active {
    background-color: white;
}

@media (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    body {
        font-size: 14px;
    }
}